<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <a href="/"><p>Home</p></a>
<div class="row">
    <h1>Greeted Names</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Language</th>
            <th>When</th>
        </tr>
        {{#each actions}}
        <tr>
            <td><a href="/counter/{{theName}}">{{theName}}</a></td>
            <td>{{type}}</td>
            <td>{{newTime}}</td>
        </tr>
        {{/each}}
    </table>
</div>
</body>

</html>
