body {
  background: linear-gradient(90deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);
  font-family: 'Poiret One', cursive;
  font-size: 170%;
}

.enter {
  color: rgb(199, 156, 137);
  text-align: center;
  font-size: 140%;
}

.greetDiv {
  width: 380px;
  min-height: 100%;
  margin: auto;
  overflow: hidden;
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.entry {
  font-size: 38%;
  color: #e66962;
  font-weight: bold;
}

.myGreet {
  color: rgb(112, 116, 161);
  text-align: center;
  font-size: 180%;
}

.count {
  color: rgb(175, 133, 115);
  font-size: 130%;
}

.radioBtns {
  margin-top: 2%;
  display: inline-block;
}

.greet {
  background-color: rgb(189, 184, 184);
  border: 2px solid rgb(189, 184, 184);
  color: rgb(26, 24, 24);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5em;
  margin-top: 2%;
}

.Reset {
  background-color: rgb(189, 184, 184);
  border: 2px solid rgb(189, 184, 184);
  color: rgb(26, 24, 24);
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5em;
}

.Reset:hover {
  background-color: rgb(243, 190, 167);
  border: 2px solid rgb(243, 190, 167);
  color: white;
}

.greet:hover {
  background-color: rgb(243, 190, 167);
  border: 2px solid rgb(243, 190, 167);
  color: white;
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.counter {
  text-align: center;
}
.row{
  text-align: center;
}
table{
  width: 100%;
}

th,
td {
  padding: 12px 15px;
  border-bottom: 1px solid #E1E1E1; 
}

.countlabel a:link{
  text-decoration: none;
}

.countName{
  margin-top: 10%;
  text-align: center;
  font-size: 200%;
}
.name, .counter{
  color: rgb(112, 116, 161);
}

@media (min-width:800px) {
  .greetDiv {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:320px) {
  .greetDiv{
    display: flex;
    flex-direction: column;
  }
  .enter {
    font-size: 100%;

  }
}